form(action="/api/player", method="POST")
    label(for="name") Name:
    input(type="text" name="name" id="name")
    label(for="number") Number:
    input(type="number" name="number" id="number") 
    label(for="team") Team:
    input(type="text" name="team" id="team")
    input(type="submit" value="Create player")