
.homepage,
.aboutpage,
.statspage,
.teampage {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding-left: 360px; 
    padding-top: 40px;
}

.homepage {
    background-image: url("Field.jpg");
}

.aboutpage {
    background-image: url("Field2.jpg");
}

.statspage {
    background-image: url("Night-ball.jpg");
}

.teampage {
    background-image: url("BField.jpg");
}

.ALEast,
.ALCentral,
.ALWest,
.NLEast,
.NLCentral,
.NLWest {
  font-size: 3vw;
  text-align: center;
  margin: 40px 0;
  color: white;
  text-shadow:
    -2px -2px 0 #000,
     2px -2px 0 #000,
    -2px  2px 0 #000,
     2px  2px 0 #000;
}

@media (max-width: 600px) {
  .ALEast,
  .ALCentral,
  .ALWest,
  .NLEast,
  .NLCentral,
  .NLWest {
    font-size: 6vw;
  }
}

h1 {
  font-size: 8vw;
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
  text-shadow:
     -2px -2px 0 #000,
      2px -2px 0 #000,
     -2px  2px 0 #000,
      2px  2px 0 #000;
}

@media (max-width: 600px) {
  h1 {
    font-size: 10vw;
  }
}

.container3 {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  color: white;
  font-size: 1.6vw;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .container3 {
    font-size: 4vw;
  }
}

ul {
  font-size: 4vw;
  color: white;
  padding-left: 40px;
  text-shadow:
     -2px -2px 0 #2429d1,
      2px -2px 0 #2429d1,
     -2px  2px 0 #2429d1,
      2px  2px 0 #2429d1;
}

ol {
  font-size: 4vw;
  color: white;
  text-shadow: 
     -2px -2px 0 #000000,
      2px -2px 0 #000000,
     -2px  2px 0 #000000,
      2px  2px 0 #000000;
}
@media (max-width: 600px) {
  ul, ol {
    font-size: 4vw;
  }
}

.sidenav {
  height: 100%;
  width: 280px;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  padding-top: 20px;
  overflow-y: auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.sidenav a {
  padding: 30px 14px;
  text-decoration: none;
  font-size: 4vw;
  color: #ffffff;
  display: block;
}

.sidenav a:hover {
  color: #e91212;
}


@media (max-width: 600px) {
  .sidenav {
      width: 180px;
  }
  .sidenav a {
      font-size: 6vw;
      padding: 20px 10px;
  }

  .homepage,
  .aboutpage,
  .statspage,
  .teampage {
      padding-left: 200px;
  }
}

.main {
  margin-left: 360px;
  padding: 10px;
}

@media (max-width: 600px) {
  .main {
      margin-left: 200px;
  }
}
